// Screen width
$mobile-screen: 375px;
$desktop-screen: 1440px;

$gwp-screen-min: 320px;

$padding-content: 24px;

$grid-content: 1110px;

// Colors
$moderate-violet: hsl(263, 55%, 52%);
$very-dark-grayish-blue: hsl(217, 19%, 35%);
$very-dark-blackish-blue: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);

// Link Color
$link-color: hsl(228, 45%, 44%);
// Neutral
$light-gray: hsl(0, 0%, 81%);
$light-grayish-blue: hsl(210, 46%, 95%);

// Font-size
$root-font-size: 13px;

// Font-family
$font-medium-weight: 500;
$font-semibold-weight: 600;

// Opacity
$opacity-50: 50%;
$opacity-70: 70%;
